
/*Default*/
*{margin:0 auto; padding:0px; border:0px; box-sizing:border-box}
body{font-family:'MalgunGothic'; animation:bgi 4s infinite; background:url(../images/bg3.png)}
label, button{cursor:pointer}
.wrap{max-width:1500px; margin-top:59px; margin-bottom:50px; overflow:hidden}


@keyframes bgi{
	0%{
		background-image: url("../images/bg1.png");
	}
	33%{
		background-image: url("../images/bg3.png");
	}
	66%{
		background-image: url("../images/bg2.png");
	}
	99%{
		background-image: url("../images/bg1.png");
	}
}

/* header */
	header{
		width: 100%;
		height: 100px;
		background: #fff;
		position: relative;
		float: left;
		z-index: 100;
		padding: 0 30px;
	}
	header > .logo {
		padding-top:25px; 
		font-size:20px;
		float: left;
		width: 50%;
		height: 100%;
		color:#FC6363;
		line-height: 25px;
		}
	header > .menu
	{
			width: 50%;
			height: 100%;
			float: left; 
	}

	header > .menu > div
	{
		width: 600px;
		float: right;
		height: 100%;
	}
	header > .menu > div > div{
		width:150px; height:100%; 
		float:left; 
		position:relative
	}
	header > .menu > div > div:before
	{
		top: 0;
		content:''; 
		width:150px; height:100px; 
		background:#F79696; 
		position:absolute; 
		bottom:0px; left:0px;
		opacity:0;
		transform-origin:left bottom;
		transition:all 1s; 
		transform:rotate(-90deg);
		z-index:-1
		}
	header > .menu > div > div:hover:before
	{
		opacity:0.3; 
		z-index:1000; 
		transform:rotate(0deg)
	}
	header > .menu > div > div:hover .sub
	{
		transform:translateY(0px) !important
	}
		header > .menu > div > div .main
		{
			width:100%; height:100px; 
			background:#fff; z-index:10; 
			text-align:center; 
			 line-height:100px;
			  position:relative;
			  font-size:16px; cursor:pointer
		}
		header > .menu > div > div .sub
		{
			width:100%; height:50px;
			 background:rgba(255,255,255,0.7); 
			 text-align:center; line-height:50px;
			 float:left; 
			 position:relative;
			 font-size:12px; 
			 border-bottom:#F79696 solid 1px;
			 cursor:pointer
			}
		header > .menu > div > div .sub:nth-child(2)
		{
			transform:translateY(-50px);
			 z-index:4;
			transition:all .5s
			}
		header > .menu > div > div .sub:nth-child(3)
		{
			transform:translateY(-100px);
			z-index:3; 
			transition:all 1s
		}
		header > .menu > div > div .sub:nth-child(4)
		{
			transform:translateY(-150px);
			z-index:2;
			 transition:all 1.5s
		}

/* Main_image*/
.main_image
{
	width: 100%; height: 400px;
	float: left; position: relative;
}
	.main_image > .img
	{
		width: 100%; height: 100%;
		position: absolute;
		top: 0; left: 0;
	}
		.main_image > .img > div
		{
			width: 100%; height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			perspective : 1500px;
			backface-visibility: hidden;
		}	
		.main_image > .img > div > div
		{
			width: 50%;
			position: absolute;
			top: 0px;
			overflow: hidden;
			height: 100%;
		}
		.main_image > .img > div > div:nth-child(1)
		{
			left: 0;
			transform-origin: 100% 0;
			transform: rotateY(180deg);
			backface-visibility: hidden;
			z-index: 10
		}
		.main_image > .img > div > div:nth-child(2)
		{
			right: 0px;
			transform-origin: 0 0;
		}
			.main_image > .img > div > div img
			{
				width: 200%;
				position: absolute;
				top: 0px
			}
			.main_image > .img > div > div:nth-child(1) img{left: 0px}
			.main_image > .img > div > div:nth-child(2) img{right: 0px}
	.main_image > .next label
	{
		position: absolute;
		right: 0; top: 0;
		width: 30px;
		text-align: center;
		line-height: 400px;
		z-index: 10;
		background-color: rgba(0,0,0,0.3);
		color: #fff;
		display: none;
	}
	.main_image > .next label:hover
	{
		background-color: #000;
	}
	@keyframes main_image
	{
		0%{z-index:3}
		99%{z-index:3}
		100%{z-index:1}	
	}
	#main1:checked ~ .img > div:nth-child(3){animation:main_image .6s}
	#main1:checked ~ .img > div:nth-child(1){z-index:2}
	#main1:checked ~ .img > div:nth-child(3) div:first-child{transform:rotateY(0deg)}
	#main1:checked ~ .img > div:nth-child(3) div:last-child{transform:rotateY(-180deg); backface-visibility:hidden;transition:transform 2s}
	#main1:checked ~ .img > div:nth-child(1) div:first-child{transform:rotateY(0deg); transition:transform 2s}
	#main1:checked ~ .next > label:nth-child(2){display:block}
	
	#main2:checked ~ .img > div:nth-child(1){animation:main_image .6s}
	#main2:checked ~ .img > div:nth-child(2){z-index:2}
	#main2:checked ~ .img > div:nth-child(1) div:first-child{transform:rotateY(0deg)}
	#main2:checked ~ .img > div:nth-child(1) div:last-child{transform:rotateY(-180deg); backface-visibility:hidden;transition:transform 2s}
	#main2:checked ~ .img > div:nth-child(2) div:first-child{transform:rotateY(0deg); transition:transform 2s}
	#main2:checked ~ .next > label:nth-child(3){display:block}
	
	#main3:checked ~ .img > div:nth-child(2){animation:main_image .6s}
	#main3:checked ~ .img > div:nth-child(3){z-index:2}
	#main3:checked ~ .img > div:nth-child(2) div:first-child{transform:rotateY(0deg)}
	#main3:checked ~ .img > div:nth-child(2) div:last-child{transform:rotateY(-180deg); backface-visibility:hidden; transition:transform 2s}
	#main3:checked ~ .img > div:nth-child(3) div:first-child{transform:rotateY(0deg); transition:transform 2s; }
	#main3:checked ~ .next > label:nth-child(1){display:block}
	
/*INTRODUCTION*/
html{
	width: 100%; height:100%;
	overflow: hidden;
	position: relative;
}
body{
	width: 100%; height: 100%;
	position: relative;
	overflow-y:scroll;
	perspective:2.1px;
}
.intro
{
	width: 100%;
	height: 430px;
	float: left;
	background-color: #fff;
}
	.intro > .title
	 {
		height: 96px; float: left;
		width: 100%; text-align: center;
		line-height: 96px; font-weight: bold; font-size: 36px;
	}
	.intro > .img 
	{
		width: 100%; height: calc(100% - 125px)
	}
		.intro > .img > .box 
		{
			position: relative;
			background-color: rgba(0,0,0,0.5);
			overflow: hidden;
			height: 100%;
			float: left;
		}
		.intro > .img > .box:nth-child(1){width: calc(50% - 5px); margin-right: 5px}
		.intro > .img > .box:nth-child(2){width: calc(50% - 5px); margin-left: 5px}
			.intro > .img > .box .bg
			{
				width: 100%; height: 100%;
				position: absolute;
				top: 0px; left: 0px;
				overflow: hidden;
				transform:translateZ(-1px) scale(2.5,2.5);
			}
			.intro > .img > .box:nth-child(1) .bg:before
			{
				content: '';
				display: block;
				background:url(../images/h1.jpg); 
				width:100%; height:130%;
				 background-size:cover;
			}
			.intro > .img > .box:nth-child(2) .bg:before{
				content: '';
				display: block;
				background:url(../images/h2.jpg); 
				width:100%; height:130%;
				 background-size:cover;
			}
		.intro > .img > .box .con
		{	
			position: relative; z-index: 5;
			width: 100%; height: 100%;
			text-align: center;
			padding-top: 130px;
			color: #fff; background-color: rgba(0,0,0,0.5);
		}
			.intro > .img > .box .con p:nth-child(1){font-size:16px}
			.intro > .img > .box .con p:nth-child(2){margin-top:10px; font-size:14px}

/*big image section*/

#view{display: none;}
#view:checked ~ .big_image{height: 750px}
#view:checked ~ .big_image .box:nth-child(1){transform: rotate(0deg); transition: all 1.5s}
#view:checked ~ .big_image .box:nth-child(2) .con:nth-child(1){transform: rotate(0deg); transition: all 0.5s}
#view:checked ~ .big_image .box:nth-child(2) .con:nth-child(2){transform: rotate(0deg); transition: all 1s}
#view:checked ~ .big_image .box:nth-child(2) .con:nth-child(3){transform: rotateY(0deg); transition: all 1.5s}
.big_image
{
	width: 100%; height: 350px;
	float: left;
	background: url(../images/s3.jpg);
	background-size: cover;
	overflow: hidden;
}
	.big_image .now
	{
		width: 100%; height: 350px;
		float: left;
		padding-top: 140px;
		text-align: center;
	}
		.big_image .now p{color: #fff; text-shadow: 1px 1px 5px #000;}
		.big_image .now label
		{
			width: 120px; height: 35px;
			border: #fff solid 1px; color: #fff;
			background: none;
			margin-top: 35px;
			line-height: 35px; display: block;
			transition : all .5s;
		}
		.big_image .now label:hover 
		{
			color: #000;
			background: #fff;
		}
	.big_image .hide 
	{
		height: 325px;
		overflow: hidden;
		float: left; padding: 0 30px;
	}
	.big_image .box
	{
		width: calc(50% -15px); height: 290px;
		float: left;
		overflow: hidden;
	}
		.big_image .box:nth-child(1)
		{
			margin-right: 15px;
			box-shadow: 1px 1px 5px #000;
			transform:rotate(90deg);
			transform-origin: top left;
		}
			.big_image .box:nth-child(1) .img
			{
				width: 100%; height: 65%;
				float: left
				background: url(../images/t1.jpg);
				-webkit-background-size: cover;
				background-size: cover;
				background-position: center center;
			}
			.big_image .box:nth-child(1) .text
			{
				width: 100%; height: 35%;
				background: #fff; 
				padding: 12.5px; float: left;
			}
				.big_image .box:nth-child(1) .text p:nth-child(1)
				{
					font-size: 18px; padding-bottom: 5px;
				}
				.big_image .box:nth-child(1) .text p:nth-child(2)
				{
					font-size:  13.3px; background: #fff;
				}
		.big_image .box:nth-child(2){padding-left: 15px}

		.big_image .box .con
		{
			width: 100%; height: 30%;
			margin-bottom: 2%;
			float: left;
			box-shadow: 1px 1px 5px #000;
			transform: rotate(90deg); transform-origin: top left;
		}
			.big_image .box .con .img
			{
				width: 50%; height: 100%;
				float: left;
			}
			.big_image .box .con:nth-child(1) .img
			{
				background: url(../images/t2.jpg);
				-webkit-background-size: cover;
				background-size: cover;
				background-position: center center;
			}
			\.big_image .box .con:nth-child(2) .img
			{
				background: url(../images/t3.jpg);
				-webkit-background-size: cover;
				background-size: cover;
				background-position: center center;
			}

			.big_image .box .con:nth-child(3) .img
			{
				background: url(../images/t4.jpg);
				-webkit-background-size: cover;
				background-size: cover;
				background-position: center center;
			}
				.big_image .box .con .text p:nth-child(1){font-size: 15px; font-weight: bold;}
				.big_image .box .con .text p:nth-child(2){font-size: 13px; margin-top: 10px}	
	